h1 {
font-family:"Monotype Corsiva";
font-size:250%;
margin-left:200px
}
img {
float:right;
height:400px;
margin-top:-375px;
margin-right:100px;
}
.epilogue {
margin-top:60px;
text-align:center;
margin-right:200px;
font-size:350%
